In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

need =pd.read_csv('trip_data.csv')
new_need = need.copy()['トリップ数'].to_numpy()
k = np.random.normal(0, 1, 10000)
a = np.array([new_need*np.exp(k[i]) for i in range(10000)])
print(np.exp(k), np.std(np.exp(k)))
a.shape

np.save('random_need.npy', a)

[1.01946759 0.33130903 0.33693224 ... 0.74557137 2.79646479 1.13877885] 2.2313400323043417

In [6]:
all_need = np.load('random_need.npy', mmap_mode= 'r')

base_need = pd.read_csv('trip_data.csv')
print(base_need)
need = base_need.copy()
need['トリップ数'] = all_need[0]
need

    トリップ数  weekday     時間
0     263        1  00:00
1     267        1  00:30
2     272        1  01:00
3     278        1  01:30
4     317        1  02:00
..    ...      ...    ...
91   2746        0  21:30
92   1881        0  22:00
93   1468        0  22:30
94   1250        0  23:00
95   1048        0  23:30

[96 rows x 3 columns]

          トリップ数  weekday     時間
0    268.717138        1  00:00
1    213.139865        1  00:30
2    241.930751        1  01:00
3    252.886507        1  01:30
4    249.020135        1  02:00
..          ...      ...    ...
91  3015.923313        0  21:30
92  2020.618684        0  22:00
93  1089.497895        0  22:30
94  1030.682700        0  23:00
95   956.935386        0  23:30

[96 rows x 3 columns]